#menuBg {
    width: 400px;
    height: 470px;
    margin:10px auto;
}

#frmMenu {
    width: 800px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float:right;
}

.left {
    width:200px;
    height: 200px;
    float:left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}
.center {
    width: 200px;
    height: 200px;
    float: inline-end;
}
#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0; margin: 0px auto;
    width: 400px;
    height: 40px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width:100px;
    height: 40px;
}

body {
    background-color: aquamarine;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:blue
}